.nav-bar {
    margin: 0;
    justify-content: space-between;
    background-color: rgba(75, 75, 75, 0.75);
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 0);
    color: rgba(255, 255, 255);
    display: flex;
    height: 4rem;
    width: 100%;
}

.item-nav-bar {
    display: flex;
    text-align: center;
    padding-top: 1rem;
    padding-inline: 3rem;
    font-weight: 600;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color: rgb(255, 255, 0);
}